* {
    margin: 0px; padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: #28577D;
}

body {
    background-color: #E8EAED;
}


/*****************************

COMMON THINGS

*****************************/
.inner-space {
    display: flex;
    max-width: 1150px;
    margin: auto;
}

.inner-space .left-side {
    width: 15%;
}

.inner-space .right-side {
    width: 85%;
}

.white-box {
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.white-box-no-padding {
    background-color: white;
    border-radius: 5px;
    margin-bottom: 20px;
}

.circle-profile-pic img {
    width: 55px;
    border-radius: 50%;
}

.big-circle-profile-pic img {
    width: 80px;
    border-radius: 50%;
}

.small-column {
    width: 30%;
}

.big-column {
    width: 70%;
}


/*****************************

HEADER

*****************************/
.header {
    height: 50px;
    background-color: #4F76A1 !important;
}

.header .logo-box {
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.header .search-box {
    height: 50px;
    display: flex;
    align-items: center;
}

.header .search-box .search_input {
    border-radius: 15px;
    height: 22px;
    border: none;
    background-color: #324766;
    color: white;
    padding: 5px 15px;
}

.header .search-box .search_input:focus-visible {
    border: none;
    outline: none;
}


/*****************************

BODY

*****************************/

/* MENU */
.body {
    padding-top: 20px;
    height: 100%;
    font-size: 14px;
}

.body .menu {
    padding: 15px 5px;
}

.body .menu .link {
    height: 35px;
    font-size: 15px;
}

.body .menu .link a, .body .menu .link a:visited {
    text-decoration: none;
}

.body .menu .link a:hover {
    text-decoration: underline;
}

/* MAIN */
.main {
    display: flex;
}

/* MAIN -> LEFT-COLUMN */
.main .left-column .profile .profile_pic img {
    width: 100%;
}

.main .left-column .profile .button-wrapper {
    padding-top: 15px;
}

.main .left-column .profile button.button  {
    width: 100%;
    padding: 10px;
    background-color: #E8EAED;
    border: none;
    border-radius: 5px;
}

.main .left-column .friends {
    margin-top: 20px;
}

.main .left-column .friends .friends-count-box {
    padding: 5px 5px 10px;
}

.main .left-column .friends .friends-count-box .friends-count-number {
    font-size: 15px;
}

.main .left-column .friends .friends-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 13px;
}

.main .left-column .friends .friends-box .friends-row {
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}

.main .left-column .friends .friends-box .friend-pic {
    width: 20%;
}

/* MAIN -> RIGHT-COLUMN */
.main .right-column {
    padding-left: 20px;
}

/* MAIN -> RIGHT-COLUMN -> INFO */
.main .right-column .info .name-box {
    display: flex;
    padding-bottom: 15px;
    border-bottom: #E9E9E9 solid 1px;
}

.main .right-column .info .name-box .name-wrapper {
    width: 70%;
    padding: 10px 0;
}

.main .right-column .info .name-box .name-wrapper .name {
    font-size: 22px;
    color: #000033;
    padding-bottom: 5px;
}

.main .right-column .info .name-box .name-wrapper .status {
    font-size: 16px;
    color: #000033;
}

.main .right-column .info .name-box .online {
    width: 30%;
    text-align: right;
    color: #8282A2;
}

.main .right-column .info .personal-info {
    padding: 15px 0;
    border-bottom: #E9E9E9 solid 1px;
}

.main .right-column .info .personal-info table tr td:first-child {
    color: #8282A2;
    padding-right: 50px;
}

.main .right-column .info .personal-info table tr td {
    padding: 5px;
}

.main .right-column .info .account-info {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}

.main .right-column .info .account-info .cell {
    width: 16%;
}

.main .right-column .info .account-info .cell .number {
    padding-bottom: 10px;
    font-size: 22px;
    text-align: center;
}

.main .right-column .info .account-info .cell .text {
    text-align: center;
    color: #8282A2;
}

/* MAIN -> RIGHT-COLUMN -> PHOTOS */
.main .right-column .photos {
    padding-bottom: 15px;
    border-bottom: #E9E9E9 solid 1px;
}


.main .right-column .photos .title {
    color: #000033;
    padding: 7px 0 20px;
}

.main .right-column .photos .title .photo-count {
    font-size: 16px;
    color: #8282A2;
}

.main .right-column .photos .photos-list {
    height: 140px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    color: #8282A2;
}

.main .right-column .photos .photos-list .img img {
    height: 100%;
}

/* MAIN -> RIGHT-COLUMN -> FEED */
.main .right-column .feed .mini-profile {
    display: flex;
}

.main .right-column .feed .mini-profile .poster-info {
    padding: 5px 20px;
}

.main .right-column .feed .mini-profile .poster-info .name {
    font-weight: bold;
    padding-bottom: 10px;
}

.main .right-column .feed .mini-profile .poster-info .time {
    font-size: 14px;
    color: #8282A2;
}

.main .right-column .feed .post {
    padding-top: 15px;
}

.main .right-column .feed .post p {
    color: #303030;
    line-height: 150%;
    padding-bottom: 10px;
}

/* MAIN -> LEFT-COLUMN -> MESSAGES*/
.main .left-column .messages .top {
    display: flex;
    background-color: #FAFAFF;
    padding: 10px 15px;
    border-bottom: #DDDDDD solid 1px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.main .left-column .messages .top .friends-info {
    line-height: 30px;
    color: black;
    padding: 0 10px 0 5px;
}

.main .left-column .messages .top .friends-info span {
    margin-left: 10px;
    color: #8282A2;
}

.main .left-column .messages .top .button-blue {
    margin-left: auto;
}

.main .left-column .messages .top .button-blue button {
    padding: 7px 15px;
    background-color: #4F76A1;
    color: white;
    border: none;
    border-radius: 5px;
}

.main .left-column .messages .search {
    border-bottom: #DDDDDD solid 1px;
}

.main .left-column .messages .search input {
    width: 95%;
    border: none;
    padding: 15px;
    font-size: 15px;
    color: black;
}

.main .left-column .messages .search input:focus-visible {
    outline: none;
}

.main .left-column .messages .partners-list .partner {
    padding: 10px;
    border-bottom: #DDDDDD solid 1px;
    display: flex;
}

.main .left-column .messages .partners-list .last {
    border-bottom: none;    
}

.main .left-column .messages .partners-list .partner .partner-info {
    padding: 5px 15px;
}

.main .left-column .messages .partners-list .partner .partner-info .partner-name {
    font-weight: bold;
}

.main .left-column .messages .partners-list .partner .partner-info .partner-university {
    padding-top: 7  px;
    color: grey;
}

.main .left-column .messages .partners-list .partner .partner-info .white-message-link {
    padding-top: 7px;
}

.main .left-column .messages .partners-list .partner .partner-info .white-message-link a {
    text-decoration: none;
}

.main .left-column .messages .partners-list .partner .partner-info .white-message-link a:hover {
    text-decoration: underline;
}


.main .left-column .messages .partners-list .partner .dots {
    font-size: 24px;
    margin: -7px 0 0 auto;
    padding-right: 10px;
}


/* MAIN -> LEFT-COLUMN -> FRIENDS-MENU */
.main .right-column .friends-menu {
    padding: 10px 0;
}

.main .right-column .friends-menu .item {
    padding: 10px 15px;
}

.main .right-column .friends-menu .selected {
    color: black;
    font-weight: bold;
    background-color: #EDEDFC;
}

/* MAIN -> LEFT-COLUMN -> POSSIBLE-FRIENDS-LIST */
.main .right-column .possible-friends-list .title {
    color: black;
    padding: 5px 0 10px;
}

.main .right-column .possible-friends-list .possible-friend {
    display: flex;
    padding-bottom: 20px;
}

.main .right-column .possible-friends-list .possible-friend .possible-friend-info {
    padding-left: 12px;
    margin-top: -3px;
}

.main .right-column .possible-friends-list .possible-friend .possible-friend-info .name {
    padding-bottom: 4px;
}

.main .right-column .possible-friends-list .possible-friend .possible-friend-info .common-friends-count {
    color: grey;
    padding-bottom: 4px;
}

.main .right-column .possible-friends-list .possible-friend .possible-friend-info .add-friend-link a {
    font-size: 12px;
    text-decoration: none;
}

.main .right-column .possible-friends-list .possible-friend .possible-friend-info .add-friend-link a:hover {
    text-decoration: underline;
}